<a href="https://colab.research.google.com/github/aboagyeso/MLP-FFNN/blob/master/Copy_of_Kinase_Regression_P43405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT PACKAGES

In [1]:
import numpy as np
import sklearn.metrics, math
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor as rf
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn import metrics
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from tensorflow import set_random_seed
from keras.models import Sequential
from keras.layers.normalization import BatchNormalization
from keras.callbacks import EarlyStopping
from keras.layers import Dense
import matplotlib.pyplot as plt
import numpy as np
# Set random seed
np.random.seed(0)

Using TensorFlow backend.

In [0]:

from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error 
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
#from xgboost import XGBRegressor

DEFINE CUSTOM FUNCTIONS

In [0]:


# root mean squared error (rmse) for regression
def rmse(y_true, y_pred):
    from keras import backend
    return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis=-1))

# mean squared error (mse) for regression
def mse(y_true, y_pred):
    from keras import backend
    return backend.mean(backend.square(y_pred - y_true), axis=-1)

# coefficient of determination (R^2) for regression
def r_square(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return (1 - SS_res/(SS_tot + K.epsilon()))

def r_square_loss(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return 1 - ( 1 - SS_res/(SS_tot + K.epsilon()))

In [0]:

def add_gausian(y,mu,sigma):
    noise = np.random.normal(mu,sigma,[1918, 117])
    df_aug = df_train_set +noise 
    #df_new = pd.concat([df_train_set,df_aug])
    return(df_aug)

def drop_corr(df):
    corr_matrix = df.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))
    to_drop = [column for column in upper.columns if any(upper[column]>0.95)]
    df_new = df.drop(df[to_drop],axis = 1)
    return(df_new)

def model_eval(model):
    model.fit(X_train,y_train)
    pred = model.predict(X_test)
    #model_score = model.score(X_test,y_test)
    model_mse =  mse(y_test,pred)
    model_r2 =r2(y_test,pred)
    return(-model_mse, model_r2)

In [0]:
# Load libraries
from keras import models
from keras import layers
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from keras.utils import plot_model

READ IN THE DATAFRAME AND CHECK OUTPUT

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/aboagyeso/Kinase_activity/master/data/kinase_files/KinaseP43405.csv')
df.head()

   Unnamed: 0 target_id   pAc  ... MQN40  MQN41  MQN42
0       24069    P43405  1.92  ...     0      0      0
1       24070    P43405  2.10  ...     0      0      0
2       24071    P43405  2.11  ...     0      0      0
3       24072    P43405  2.23  ...     0      0      0
4       24073    P43405  2.67  ...     0      2      1

[5 rows x 120 columns]

In [7]:
#Check the shape of the dataframe
df.shape

(2132, 120)

In [8]:
#Drop the highly correlated features
drop_corr(df).head()

   Unnamed: 0 target_id  ... MQN40  MQN41
0       24069    P43405  ...     0      0
1       24070    P43405  ...     0      0
2       24071    P43405  ...     0      0
3       24072    P43405  ...     0      0
4       24073    P43405  ...     0      2

[5 rows x 91 columns]

In [9]:
drop_corr(df).shape

(2132, 91)

In [0]:
#Plot distribution of the pAc with the density estimation function
#f, ax = plt.subplots(figsize=(6, 6))
#sns.distplot(df.pAc,color = 'green');
#sns.set_style("whitegrid")

In [0]:
#Boxplot of pAc,It has a few outliers but the distribution in fairly normal
#f, ax = plt.subplots(figsize=(5, 6))
#sns.set_style("whitegrid")
#data = df.pAc
#sns.boxplot(data=data);

In [12]:
#Drop unwanted columns
df = df.drop(['Unnamed: 0','smiles','target_id'], axis=1)
df.head()

    pAc   SlogP      SMR   LabuteASA   TPSA  ...  MQN38  MQN39  MQN40  MQN41  MQN42
0  1.92  0.9394  44.4546   74.437741  74.60  ...      0      0      0      0      0
1  2.10  2.2217  78.5023  118.927731  83.47  ...      0      0      0      0      0
2  2.11  1.9083  54.4766   88.604750  74.60  ...      1      0      0      0      0
3  2.23  1.3521  45.3366   76.564468  74.60  ...      0      0      0      0      0
4  2.67  1.5332  70.7447  110.561115  64.11  ...      0      0      0      2      1

[5 rows x 117 columns]

In [0]:
# Get the feature vector
X = df.drop(columns=['pAc'],axis=1)
# Get the target vector
y = df["pAc"]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=42)

In [15]:
#Check the shape of the training and testing data 
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1918, 116), (214, 116), (1918,), (214,))

 Add the X_train and y_train to form a a training set for augmentation
 **bold text**

In [16]:
df_train_set = pd.concat([X_train, y_train], axis = 1)
df_train_set.head()

        SlogP       SMR   LabuteASA    TPSA  ...  MQN40  MQN41  MQN42       pAc
1953  3.11500  104.2156  159.173831  100.52  ...      0      2      1  8.850000
1061  3.37830  108.6129  166.709530  100.22  ...      0      2      1  7.100000
1177  3.82660  138.3429  217.875312  110.19  ...      0      4      2  7.263333
617   0.68970   77.8187  115.963647  118.95  ...      0      0      0  6.550000
674   3.74944  136.5375  208.857248   93.26  ...      0      2      1  6.630000

[5 rows x 117 columns]

In [0]:
#Assign df0 to df_train_set
df0 = df_train_set

In [18]:
#The shape of the training set
df0.shape

(1918, 117)

DATA BEFORE AUGMENTATION

In [19]:
# Get the feature vector
X0 = df0.drop(columns=['pAc'],axis=1).values
# Get the target vector
y0 = df0["pAc"].values
X0_train, X0_test, y0_train, y0_test = train_test_split(X0, y0, test_size=0.3,random_state=42)
X0_train.shape,y0_train.shape,X0_test.shape,y0_test.shape

((1342, 116), (1342,), (576, 116), (576,))

VALIDATION SET FOR EXTERNAL VALIDATION

In [0]:
X_test_val = X_test.values
y_test_val = y_test.values

AUGMENTATION 0.1

In [0]:
#Add noise of 0.01 to the dataframe
noise = add_gausian(df0,0,0.1)
df1 = pd.concat([df0,noise])
df1.shape
# Get the feature vector
X1 = df1.drop(columns=['pAc'],axis=1).values
# Get the target vector
y1 = df1["pAc"].values

#Split data into training and testing set
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3,random_state=42)

AUGMENTATION 0.2

In [0]:
#Add noise of 0.02 to the dataframe
noise = add_gausian(df0,0,0.2)
df2=pd.concat([df1,noise])

# Get the feature vector
X2 = df2.drop(columns=['pAc'],axis=1).values
# Get the target vector
y2 = df2["pAc"].values
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3,random_state=42)

AUGMENTATION 0.3

In [0]:
#Add noise of 0.03 to the dataframe
noise3 = add_gausian(df0,0,0.3)

df3 = pd.concat([df2,noise3])
# Get the feature vector
#X = df.drop('smiles', 'mol', 'pAc', axis=1)
X3 = df3.drop(columns=['pAc'],axis=1).values
# Get the target vector
y3 = df3["pAc"].values
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.3,random_state=42)

BUILD DEEP LEARNING MODELS


MODEL0

In [24]:
model0 = Sequential()
# The Input Layer :
model0.add(Dense(128, kernel_initializer='normal',input_dim = X_train.shape[1], activation='relu'))

# The Hidden Layers :
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
model0.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
model0.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])
#Train the model
model0.fit(X0_train, y0_train, epochs=200, batch_size=32, validation_split = 0.2,verbose=0)

WARNING: Logging before flag parsing goes to stderr.
W0728 20:24:55.089081 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0728 20:24:55.139880 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0728 20:24:55.145985 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

W0728 20:24:55.285264 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0728 20:24:55.606982 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0728 20:24:55.919793 140095587272576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

MODEL 1

In [25]:
model1= Sequential()
# The Input Layer :
model1.add(Dense(128, kernel_initializer='normal',input_dim = X1_train.shape[1], activation='relu'))

# The Hidden Layers :
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
model1.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
model1.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])
#Train the model
model1.fit(X1_train, y1_train, epochs=200, batch_size=32, validation_split = 0.2,verbose=0)

MODEL 2

In [26]:
np.random.seed(7)
# set the TF seed
set_random_seed(7)
# built Keras sequential model 
model2 = Sequential()
# add batch normalization
model2.add(BatchNormalization())
# add layer to the MLP for data (404,13) 
model2.add(Dense(units=300, activation='relu', input_dim=X2_train.shape[1]))
# add output layer
model2.add(Dense(units=1, activation='relu'))
# compile regression model loss should be mean_squared_error //
model2.compile(optimizer="adam", loss="mean_squared_error", metrics=["mean_squared_error"])
# fit model
model2.fit(X2_train, y2_train, epochs=200, batch_size=32, validation_split=0.2,verbose=0)

MODEL 3

In [27]:
np.random.seed(7)
# set the TF seed
set_random_seed(7)
# built Keras sequential model 
model3 = Sequential()
# add batch normalization
model3.add(BatchNormalization())
# add layer to the MLP for data (404,13) 
model3.add(Dense(units=300, activation='relu', input_dim=X3_train.shape[1]))
# add output layer
model3.add(Dense(units=1, activation='relu'))
# compile regression model loss should be mean_squared_error //
model3.compile(optimizer="adam", loss="mean_squared_error", metrics=["mean_squared_error"])
# fit model
model3.fit(X3_train, y3_train, epochs=200, batch_size=32, validation_split=0.2,verbose=0)

MODEL0 EVALUATION

In [28]:
pred0 =model0.predict(X0_test)
print('Model0 Evaluation on test set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y0_test,pred0))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y0_test,pred0))
print("\n")
print('Model0 Evaluation on Validation set:')
valid_pred0= model0.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred0))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred0))

Model0 Evaluation on test set:
Mean squared error (MSE):       0.600501
R square (R^2):                 0.513825


Model0 Evaluation on Validation set:
Mean squared error (MSE):       0.833456
R square (R^2):                 0.354530

MODEL1 EVALUATION

In [29]:
pred1 =model1.predict(X1_test) 
print('Model1 Evaluation on test set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y1_test,pred1))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y1_test,pred1))
print("\n")
print('Model1 Evaluation on Validation set:')
valid_pred1 = model1.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred1))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred1))

Model1 Evaluation on test set:
Mean squared error (MSE):       0.371285
R square (R^2):                 0.727190


Model1 Evaluation on Validation set:
Mean squared error (MSE):       0.607241
R square (R^2):                 0.529722

MODEL 2 EVALUATION

In [30]:
# Predict test set
print('Model2 Test:')
y2_pred = model2.predict(X2_test) 
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y2_test,y2_pred))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y2_test,y2_pred))
print("\n")
#Evaluate model2 on validation prediction
print('Model2 Validation:')
valid_pred2 = model2.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred2))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred2))

Model2 Test:
Mean squared error (MSE):       0.296745
R square (R^2):                 0.785740


Model2 Validation:
Mean squared error (MSE):       0.502562
R square (R^2):                 0.610790

MODEL 3 EVALUATION

In [31]:
# Predict test set
y3_pred = model3.predict(X3_test) 
print('Test Set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y3_test,y3_pred))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y3_test,y3_pred))
print("\n")
#Evaluate model3 on validation prediction
print('Validation set:')
valid_pred3 = model3.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred3))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred3))

Test Set:
Mean squared error (MSE):       0.373492
R square (R^2):                 0.730617


Validation set:
Mean squared error (MSE):       0.512961
R square (R^2):                 0.602737